{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="grid__container">
        <aside id="sidebar">
            <h3>Saidbar uchun</h3>
        </aside>
        <section id="content">
            {% block content %}
            {% endblock %}
        </section>
        <section id="reklama">
            <h3>Reklama uchun joy</h3>
        </section>
    </div>
</body>
</html>